<h4>Flopchooser</h4>

<div style="margin-bottom:2rem">
  <p>Which movie has a lower IMDB rating?</p>
  <h3 *ngIf="movieDisplayService.userCorrect" [hidden]="!movieDisplayService.selectionWasMade">CORRECT!</h3>
  <h3 *ngIf="!movieDisplayService.userCorrect" [hidden]="!movieDisplayService.selectionWasMade">WRONG =(</h3>
  <p [hidden]="!movieDisplayService.selectionWasMade">
    {{movieDisplayService.message}}
  </p>
  <button class="btn btn-primary" [hidden]="!movieDisplayService.selectionWasMade" (click)="movieDisplayService.restartGame()">Play Again</button>
</div>

<app-movie-display></app-movie-display>
